<header>
    <a href='/dashboard'><h1><%= Title %></h1></a>  
    <a href='/upload'>Upload</a>
    <a href='/View'>View</a>
    <a href='/Delete'>Delete</a>
    <a href='/Print'>Print</a>
    <a href='/users/logout'>Logout</a>
</header>